/* PHASE 2: Thumbs */
.profile-friends img{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.profile-friends ul{
    display: flex;
    flex-direction: row;
}

.profile-friends li{
    display: block;
    width: 60px;
}


.thumb {
    width: 58px;
    height: 58px;
}
