/* PHASE 2: Thumbs */
.profile-friends img{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
}

.profile-friends{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}

.profile-friends li{
    display: block;
    width: 60px;
}

.profile-friends > li:nth-child(3n-1) {
    margin: 0 10px 10px 10px;
}


.thumb {
    width: 58px;
    height: 58px;
    
}
